.footer_style {
    text-align: center;
}
.footer_container {
    background-color: #524a90;
}
.footer_links a {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
}

.socials {
    display: flex;
}
